/* NEW CSS*/

body {
  background-color: rgb(245, 240, 240);
}

.header {
  margin-top: 60px;
  width: 800px;
  height: 55px;
}
.content {
  background-color: rgb(255, 255, 255);
  width: 800px;
  height: 500px;
}

.login {
  margin-top: 100px;
  width: 400px;
  height: 300px;
}

/* OLD CSS*/

img {
  width: 80px;
  height: 80px;
}

/* Set black background color, white text and some padding */
footer {
  background-color: #555;
  color: white;
  padding: 15px;
}

/* On small screens, set height to 'auto' for sidenav and grid
TODO: is not working. check how to pass style in react
*/
@media screen and (max-width: 767px) {
  .sidenav {
    height: auto;
    padding: 15px;
    background-color: #8d0d0d54;
  }
  .row.content {
    height: auto;
  }
}
