/* NEW CSS*/

body {
  background-color: rgb(245, 240, 240);
}

.header {
  margin-top: 60px;
  width: 800px;
  height: 55px;
}
.content {
  background-color: rgb(255, 255, 255);
  width: 800px;
  height: 500px;
}

.login {
  margin-top: 100px;
  width: 400px;
  height: 300px;
}

.page-not-found {
  margin-top: 100px;
  height: 50px;
  text-align: center;
}

.side-bar {
  height: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-bottom: royalblue;
}

/* OLD CSS*/

img {
  width: 80px;
  height: 80px;
}
